:root{
--monoGrColor: hsla(240, 76.04%, 57.45%, 1);

--bgGrColorPt1: hsla(251, 57.85%, 52.55%, 1);
--bgGrColorPt1: hsla(251, 87.85%, 72.55%, 1);

--bgGrColorPt2: hsla(221, 83.26%, 44.51%, 1);
--bgGrColorPt3: hsla(148, 82.64%, 47.45%, 1);

}


.gradient {
height: 100%; 
width: 100%; 

background: var(--monoGrColor);
background: linear-gradient(120deg, var(--bgGrColorPt1) 0%, var(--bgGrColorPt2) 42%, var(--bgGrColorPt3) 100%);

animation: gradient 20s infinite linear;  
background-size: 400%; 
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
